
body {
	background-image: linear-gradient(rgb(16,16,16),rgb(100,100,100));
	background-repeat: no-repeat;
	height: 100%;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 10px;
	bottom: 10px;
	width: 100%;
}

li {
	font-family: "Courier";
	font-size: 20px;
	float: right;
	padding-top: 15px;
	padding-right: 30px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

/* Change color on hover */
li a:hover {
	color: yellow;
}

p {
	font-family: "Bebas Neue";
	font-size: 35px;
	padding-left: 300px;
	padding-right: 300px;
	margin-top: 350px;
	margin-bottom: 350px;
	text-align: center;
}


#a0, #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10, #a11, #a12, #a13, #a14, #a15, #a16, #a17, #a18, #a19, #a20, #a21, #a22, #a23, #a24, #a25, #a26, #a27, #a28, #a29, #a30, #a31, #a32, #a33, #a34, #a35, #a36, #a37, #a38, #a39 {
	width : 3px;
	height: 3px;
	position: absolute;
	background-color: yellow;
	border-radius: 3px;
}